.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "header header header"
    "navbar maincontent maincontent"
    "navbar maincontent maincontent";
}

.header {
    grid-area: header;
    background-color: green;
}

.navbar {
    grid-area: navbar;
    background-color: orange;
}

.maincontent {
    grid-area: maincontent;
    background-color: gray;
}

.maincontent img {
    width: 900px;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.input-field {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
}

.input-field:focus {
    outline: none;
    box-shadow: 0 0 3px #2196F3;
}

.mainDiv{
    padding-top: 50px;
    background-color: antiquewhite ;
    height: 1080px;
    /*background-image: url("/home/ghost75046/Git/Tamago4a/src/night.jpg");*/
    /*background-size: cover;*/


}




/*.myEgg {
    margin: 0 auto;

    background-image: url("/src/images/defaultEggneNoGlass.png"), url("/src/images/night.jpg");
    background-size: cover, 350px ;
    background-repeat: no-repeat;
    background-position: 0 0, 200px 230px;
    !*100px bottom*!
    width: 700px;
    height: 795px;
    !*background-color: green;*!
    !*border: solid black;*!
}*/





.fon {
    width: 350px;
}






